<div class="container">
　<h3 class="head-title my-5"><%= @user.nickname %>さんのいいね！した写真一覧</h3>
  <div class="row mt-5 ">
    <%= render 'posts/index', posts: @favorite_posts%>
  </div>
  <div class="row">
    <div class="mx-auto">
     <%= paginate @favorite_posts %>
    </div>
  </div>
</div>
