<div class="container">
  <h2 class="head-title my-5"><%= @user.nickname %>さんのフォロー一覧</h2>
  <div class="row mt-5">
    <%= render 'users/index', users: @users %>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @users %>
    </div>
  </div>
</div>