<div class="container">
  <% if @model == "user" %>
    <h5 class="headline mt-5">ユーザー"<%= @content %>"の検索結果</h5>
    <div class="row mt-5">
      <%= render 'users/index', users: @records %>
    </div>

  <% elsif @model == "post" %>
	  <h5 class="headline mt-5">山名"<%= @content %>"の検索結果</h5>
	  <div class="row mt-5">
	    <%= render 'posts/index', posts: @records %>
  </div>
  <% end %>
</div>