<%= render 'layouts/errors', object: @post %>
<div class="container">
  <h2 class="head-title my-5">投稿を編集する</h2>
    <div class="row">
      <div class="col-md-6 my-auto mx-auto">
        <%= render 'posts/form', post: @post %>
        <div class="form-group text-center mt-5">
        <%= link_to "　投稿を削除する　", post_path(@post.id), method: :delete, class: "btn btn-warning", "data-confirm" => "本当に削除しますか？" %>
        </div>
      </div>
    </div>
</div>