<div class="container">
  <p class="ranks-link text-right mt-5"><%= link_to "みんなのいいね！が多い写真はこちら", ranks_path, class: "btn btn-warning" %></p>
  <div class="row mt-5">
    <%= render 'posts/index', posts: @posts %>
  </div>
  <div class="paginate"><%= paginate @posts %></div>
</div>

