// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label {
  background-color: olive;
  font-weight: bold;
  color: #fff;
  border-radius: .25em;
  padding: .2em .6em .3em;
  font-size: 75%;
}

.fa-tags {
  color: olive;
}